*.AppImage
[Bb]uild/
[Oo]ut/
[Bb]in/
cmake-build-*/
.cache/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json
.vscode/
*.CMakeLists.txt.user
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
.vscode/
dist/
